body{
    font-family: Centaur;
    background-color: #250902;
    margin: 0;
}
.banner{
    width: 100%;
    background-color: #C8AB83;
    padding-bottom: 10px;
}
.banner img{
    display: block;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
    height: 50px;
    width: 50px;
}
.banner h1, p{
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
}
.banner p{
    margin: 0;
    padding: 0;
    color: black;
}
.navbar{
    background-color: #EEC584;
    margin: 0;
}
.navbar a{
    text-align: center;
    padding: 7px;
    color: black;
    text-decoration: none;
    display: block;
}

.navbar a:hover{
    background-color: #C8AB83;
}
.content{
    display: block;
    position: absolute;
    margin-top: 0;
    background-color: #38040E;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    padding-bottom: 50px;
}
.content h1, p{
    color: antiquewhite;
    margin-top: 0;
    padding-top: 15px;
    margin-left: 50px;
    margin-right: 50px
}
.content p{
    font-size: 18px;
    padding-top: 0;
}
.content .intro img{
    float: right;
    margin-right: 20px;
    height: auto;
    width: 30%;
    max-width: 300px;
    margin-bottom: 30px;
}
.intro h1{
    display: block;
    text-align:  left;
    margin-top: 35px;
}
 .content .intro p{
    text-align: left;
    width: 60%;
}
 #insta img{
     display: block;
     margin-top: 50px;
 }

 .list h1{
     margin-top: 20px;
 }
 .list li{
     color: antiquewhite;
     list-style: inside;
     margin-left: 10px;

 }


