header {
    background-color: #F9A03F;
    text-align: center;
    padding: 7px;
}
header h1, p{
    margin: 0;
    padding: 0;
}
header img{
    float:left;
    width: 64px;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Goudy Old Style";
    background-color: #454955;
}
.navbar{
    opacity: 70%;
    background-color: #F3EFF5;
    width:15%;
    height: 119%;
    position: absolute;
    margin:0;
    padding: 0;
    float:left;
}
.navbar a{
    margin: 0;
    font-weight: bold;
    color: black;
    font-size: 100%;
    padding: 15px 7px 15px ;
    text-align: center;
    text-decoration: none;
    display: block;

}
.navbar a:hover{
    background-color: #FCCE9C;
}
.navbar a:active{
    background-color: #F9A03F;
}
.content{
    margin-left: 18%;
    margin-right: 3%;
    margin-top: 3%;
    background-color: white;
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
}
.content img{
    max-width:150px;
}

#Table1 {
    width: 50%;
    position: center;
    margin-left: 22%;
    margin-top: 5%;
    border-collapse: collapse;


}

