header {
    background-color: #F9A03F;
    text-align: center;
    padding: 7px;
}
header h1, p{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Goudy Old Style";
    background-color: #454955;
}
.navbar{
    background-color: #F3EFF5;
    width:15%;
    min-width: 120px;
    height: 100%;
    position: fixed;
    margin-right: 25px;

}
.navbar a{
    font-weight: bold;
    color: black;
    font-size: 25px;
    padding: 15px 7px 15px ;
    text-align: center;
    text-decoration: none;
    display: block;
    margin:0;
}

.navbar a:hover{
    background-color: #FCCE9C;
}
.navbar a:active{
    background-color: #F9A03F;
}
.content{
    text-align: center;
    margin-left: 18%;
    margin-right: 3%;
    margin-top: 3%;
    background-color: white;
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
    width: 76%;
    height: 72%;
    position: fixed;
}
.content img{
    max-width:150px;
}