header {
    background-color: #F9A03F;
    text-align: center;
    padding: 7px;
    width: 100%;
}
header h1, p{
    margin: 0;
    padding: 0;
}
header img{
    float:left;
    width: 64px;
    opacity: 85%;
}

body{
    margin:0;
    font-family: "Goudy Old Style", serif;
    background-color: #454955 ;
    overflow:hidden;
}
.navbar{
    background-color: #FCCE9C;
    width:15%;
    min-height: 90%;
    position: absolute;
    float:left;
}
.navbar a{
    margin: 0;
    font-weight: bold;
    color: black;
    font-size: 100%;
    padding: 15px 7px 15px ;
    text-align: center;
    text-decoration: none;
    display: block;
}
.navbar a:hover{
    background-color: #F9A03F;
}

.content{
    text-align: center;
    margin: 3% 2% 0% 18%;
    background-color: white;
    padding-right:2%;
    padding-bottom: 1%;
    border-radius: 5px;
    width: 77%;
    min-height: 75%;
    position: absolute;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.55);
}
.content img{
    width:150px;
}
.content img:hover{
    transform: scale(105%);
}
.forms{
    position: center;
}
.forms input{
    border-radius: 25px;
    background-color: #F9A03F;
    border: 0px;
}