header {
    background-color: #F9A03F;
    text-align: center;
    padding: 7px;
}
header h1, p{
    margin: 0;
    padding: 0;
}
header img{
    float:left;
    width: 64px;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Goudy Old Style";
    background-color: #454955;
    font-style: normal;
}
.navbar{
    background-color: #F3EFF5;
    width:15%;
    min-width: 120px;
    height: 200%;
    position: absolute;
    margin-right: 25px;


}
.navbar a{
    font-weight: bold;
    color: black;
    font-size: 25px;
    padding: 15px 7px 15px ;
    text-align: center;
    text-decoration: none;
    display: block;
    margin:0;
}

.navbar a:hover{
    background-color: #FCCE9C;
}
.navbar a:active{
    background-color: #F9A03F;
}
.content{
    margin-left: 18%;
    margin-right: 3%;
    margin-top: 3%;
    background-color: white;
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
}
.content img{
    max-width:150px;
}

#Text2 {
    font-family: "Goudy Old Style";
    font-style: italic;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 20%;
}

.content img {
    float: left;
    margin-right: 7%;
    margin-top: 2.5%;
    background-image: url("/bilder/icons8-airport-50.png")
}

.link:hover {
    float: left;
    content: url("/bilder/icons8-airport-50.png");
    width: 70px;
    height: 70px;
    margin: 12.5% 11.66% 10% 5%;

}
