header {
    background-color: #F9A03F;
    text-align: center;
    padding: 7px;
}
header h1, p{
    margin: 0;
    padding: 0;
}
header img{
    float:left;
    width: 64px;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Goudy Old Style";
    background-color: #454955;
    font-style: normal;
}
.navbar{
    opacity: 70%;
    background-color: #F3EFF5;
    width:15%;
    height: 119%;
    position: absolute;
    margin:0;
    padding: 0;
    float:left;
}
.navbar a{
    margin: 0;
    font-weight: bold;
    color: black;
    font-size: 100%;
    padding: 15px 7px 15px ;
    text-align: center;
    text-decoration: none;
    display: block;

}

.navbar a:hover{
    background-color: #FCCE9C;
}
.navbar a:active{
    background-color: #F9A03F;
}
.content{
    margin-left: 18%;
    margin-right: 3%;
    margin-top: 3%;
    background-color: white;
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
}


#Text2 {
    font-family: "Goudy Old Style";
    font-style: italic;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.link img {
    width: 150px;
    height: auto ;
    float: left;
    margin-right: 7%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}


#Bild2 {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 820px;
    height: auto;
}
