html{height:auto;}
header {
    background-color: #F9A03F;
    text-align: center;
    padding: 7px;
}
header h1, p{
    margin: 0;
    padding: 0;
}
header img{
    opacity: 85%;
    float:left;
    width: 64px;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Goudy Old Style";
    background-color: #454955;
    font-style: normal;
    height: auto;
}

 ul{
     height: 218%;
     position: absolute;
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 15%;
     background-color: #FCCE9C;
     float: left;
}
#navbar li a{
    font-weight: bold;
    color: black;
    font-size: 100%;
    padding: 15px 7px 15px ;
    text-align: center;
    text-decoration: none;
    display: block;
}

#navbar a:hover{
    background-color: #F9A03F;
}

.content{
    background-color: white;
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
    margin: 3% 3% 3% 18%;
}


#Text2 {
    font-family: "Goudy Old Style";
    font-style: italic;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.link img {
    width: 150px;
    height: auto ;
    float: left;
    margin-right: 7%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.link img:hover{
    transform: scale(105%);
}


#Bild2 {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100%;
    height: auto;
}
